---
const { about } = Astro.props;
---
<section class="index-section"  id="about">
  <div class="container">
    <h2 style={{textTransform: "uppercase"}}>{about.profile}</h2>
    <hr>
    <p>{about.content}</p>
  </div>
</section>
