---
---

<section class="index-section"  id="contact">
  <h2>CONTACT</h2>
  <form action="https://formsubmit.co/5eb3994d821f99bcef677654cd530589" method="POST">
    <input type="hidden" name="_next" value="https://juanmanuelsanjurjo.github.io/web-portfolio/pages/thanks.html">
    <label for="email"></label>Email
    <input name="email" id="email" placeholder="Email" type="email" required>
    <label for="subject"></label>Subject
    <input name="subject" id="subject" placeholder="Subject" type="text" required>
    <label for="content"></label>Content
    <textarea name="content" placeholder="Write your message" id="content" cols="30" rows="10" required></textarea>
    <button id="submitBtn" class="submitbtn" type="submit">Send</button>
  </form>

</section>
