
        <section class="hero index-section">
            <div class="container" >
                <h1 class="">Hi, I'm</h1>
                <h1 class="">JUAN MANUEL</h1>
                <h1 class="">SANJURJO</h1>
                <h3>Software developer</h3>
            </div>
        </section>
