---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Thanks!" >

    <div  class="container thanks" transition:animate="slide">
        <h1>404</h1>
        <p> Page Not Found</p>
    <a class="thanks-return" href="/">Return to portfolio</a>
    </div>

</Layout>
