---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Thanks!">

    <div  class="container thanks" >
        <h1>Thank you!</h1>
        <p>Your message has been sent.</p>
        <a class="thanks-return" href="">Return to portfolio</a>
    </div>

</Layout>
